<%- include('../layouts/header'); %>

<main>
  <div class="container">
    <table class="">
      <thead class="">
        <tr>
          <th scope="">#</th>
          <th scope="">Name</th>
          <th scope="">Description</th>
          <th scope="">Users</th>
          <th scope="">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% departments.forEach(function(department) { %>
        <tr>
          <td>1</td>
          <td>
            <a href="/department/<%= department.dataValues.id %>">
              <%= department.dataValues.name %></a
            >
          </td>
          <td><%= department.dataValues.description %></td>
          <td>22</td>
          <td>
            <i class="fas fa-edit"></i>
            <i class="fas fa-trash-alt"></i>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</main>

<%- include('../layouts/footer'); %>
